extends ../layout

block content
  #shop-container
    h1 Resultado Transacción
    table
      tr
        td Estado
        td #{estado}
      tr
        td Account_id
        td #{x_account_id}
      tr
        td Amount
        td #{x_amount}
      tr
        td Currency
        td #{x_currency}
      tr
        td Gateway Reference
        td #{x_gateway_reference}
      tr
        td Reference
        td #{x_reference}
      tr
        td Resultado
        td #{x_result}
      tr
        td Test
        td #{x_test}
      tr
        td Timestamp
        td #{x_timestamp}
      tr
        td Signature
        td #{x_signature}